﻿<!DOCTYPE html>
<html data-ng-app="PentairWebClient">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>IntelliCenter</title>
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link rel="stylesheet" href="content/css/grid.css" type="text/css" media="all" />
    <link rel="stylesheet" href="content/css/normalize.min.css">
    <link rel="stylesheet" href="content/css/pentair.css">
    <link rel="stylesheet" href="content/css/ui-grid.css">
    <link href="content/css/dropdowns.css" rel="stylesheet" />
    <!-- Fonts currently served from Google -- should probably be served from Pentair for production -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet'>

</head>
<body ng-controller="IndexController" ng-cloak class="ng-cloak">
    <header class="strip">
        <div class="grid-wrap">
            <div class="grid-col col-one-half">
                <img ng-src="Content/img/pentair-logo.svg" alt="Pentair" class="logo">
                    
                    debug:{{debugString}}
                <div ng-controller="InstallationsController" ng-hide="HidePropertySelector()" style="float:right; width:13em; right:1em; margin-top: 5px; position: relative;">
                    <a href="" class="{{Model.Installations.length>7?'':'visibilityHidden'}}" ng-click="GoToChangeInstallationsGrid()">alternate selector</a>
                    <div dropdown-menu="Model.Installations" limit-to="7" dropdown-onchange="Property.Connect(selection)"
                         default-value="Model.DefaultInstallation" dropdown-model="Model.SelectedInstallation" ng-click="Property.FetchInstallations()"
                         value-field="InstallationId" label-field="PoolName"></div>
                </div>
            </div>
            <div class="grid-col col-one-half" style="float:right; padding-left: 0;" id="welcome">
                <div class="propertySelection" style="margin-top:30px">
                    <div data-ng-hide="!Authentication.isAuth">
                        <div style="float:left">
                            <label>{{Authentication.userName}}</label>
                        </div>
                        <div>
                            <img style="margin: 0 0.5em 0 0.2em; " ng-click="ToggleAccountMenu()" ng-src="Content/img/gear_wheel.png" />
                            <ul class="accountMenuPanel" ng-hide="DisplayAccountMenu">
                                <li><a class="button-link" ng-click="GoToChangeEmailPage()">{{'CHANGEEMAIL' | translate}}</a></li>
                                <li><a class="button-link" ng-click="GoToChangePasswordPage()">{{'CHANGEPASSWORD' | translate}}</a></li>
                                <li><a class="button-link" ng-click="GoToRemovePoolPage()">{{'REMOVEPOOLFROMACCOUNT' | translate}}</a></li>
                                <hr style="margin:0.6em 0 " />
                                <li><a href="" id="logout" data-ng-click="LogOut()">{{'LOGOUT' | translate}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="all-full copyright">
        </div>
        <div style="float: right; color:slategray; background:#4D4D4D; padding: .5em; font-size: 14px;">Status: {{Model.ConnectionStatus}}</div>
    </footer>
    <!-- 3rd party libraries -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-cookies.js"></script>
    <script src="scripts/angular-translate.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/checklist-model.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="scripts/angular-dateParser.js"></script>
    <script src="scripts/angular-timePicker.js"></script>
    <script src="scripts/ui-grid.js"></script>
    <!-- Load PWC main script -->
    <script src="app/i18n/TranslatorProvider.js"></script>
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/AuthInterceptorService.js"></script>
    <script src="app/services/AuthService.js"></script>
    <script src="app/services/AppService.js"></script>
    <script src="app/services/SocketService.js"></script>
    <script src="app/services/MessageProcessor.js"></script>
    <script src="app/services/PropertyService.js"></script>
    <script src="app/services/Logger.js"></script>
    <!-- Load Models -->
    <script src="app/models/PropertyModel.js"></script>

    <!-- Load controllers -->
    <script src="app/controllers/IndexController.js"></script>
    <script src="app/controllers/LoginController.js"></script>
    <script src="app/controllers/PropertyController.js"></script>
    <script src="app/controllers/LightsController.js"></script>
    <script src="app/controllers/ManageUsersController.js"></script>
    <script src="app/controllers/ScheduleController.js"></script>
    <script src="app/controllers/InviteController.js"></script>
    <script src="app/controllers/AcceptInviteController.js"></script>
    <script src="app/controllers/InstallationsController.js"></script>
    <script src="app/controllers/InstallationsGridController.js"></script>
    <script src="app/controllers/ManagePropertiesController.js"></script>
    <script src="app/controllers/ConfigController.js"></script>
    <script src="app/controllers/SystemProtectionController.js"></script>
    <script src="app/controllers/SystemInformationController.js"></script>
    <script src="app/controllers/SystemPersonalityController.js"></script>
    <script src="app/controllers/ChangeEmailController.js"></script>
    <script src="app/controllers/UserNotificationController.js"></script>
    <!--Load Utilities-->
    <script src="app/utility/Math.uuid.js"></script>
    <script src="app/utility/Helpers.js"></script>
    <script src="app/utility/Enumerations.js"></script>
    <!--Load Filters -->
    <script src="app/filters/propertyFilters.js"></script>
    <!--Load Directives -->
    <script src="app/directives/dropdownMenu.js"></script>
    <script src="app/directives/heaterDropdown.js"></script>
    <script src="app/directives/toggleSwitch.js"></script>
    <script src="app/directives/toggleCircuit.js"></script>
    <script src="app/directives/heaterInputBox.js"></script>
    <script src="app/directives/durationInputBox.js"></script>
    <script src="app/directives/ngEnter.js"></script>
    <script src="app/directives/whenScrollEnds.js"></script>
    <script src="app/directives/ngNumbersOnly.js"></script>
    <script src="app/directives/lightModeButtons.js"></script>
    <!--[if lt IE 9]>
        <script src="scripts/html5shiv.js"></script>
    <![endif]-->

</body>
</html>