﻿<div ng-show="InvalidInvite">
    <h1>Invalid Invite!</h1>
    <br />
    <span>{{InvaidInviteMessage}}</span>
</div>
<div id="InviteEulaRefusedMsg" ng-show="EulaRefused">
    <h1>Sorry to see you go</h1>
    <br />
    <span>Please go back to your email invite and start over if you change your mind.</span>
</div>
<div id="InviteEula" class="modal" ng-show="ShowEula">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">End User License Agreement</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, te vel lorem aeque, est ex atqui solet nominavi. Mei in sint vide incorrupte, vel cu etiam consequat, ne delectus electram per. In his inani saepe lobortis. Movet eloquentiam definitionem qui te, ex causae minimum mandamus pro. Movet noster omnium at pri, an dico eirmod prodesset eam. In nostrum referrentur cum. Idque everti hendrerit has ut, illud habemus usu ea.

                Ad inani dicant sea, posse copiosae fabellas vel id. Natum illum appetere id nec, vocibus interesset appellantur ad mei. Veri dissentiet et pro, vis fugit volutpat no. Eirmod regione theophrastus et qui. At vix quod purto brute, qui probo consetetur id. Natum oporteat ea per, ad sed saepe dissentiunt.

                Vis tempor imperdiet ad. Meis detracto erroribus mea te, nam ne ipsum interpretaris, ad solum lorem essent pro. Suas mediocrem elaboraret duo ad, id viris eirmod debitis mea, quot augue in vis. Nec ut diam meis argumentum, duo te ullum dolore dolores, no mazim omittantur vim.

            </div>
            <div class="modal-footer">
                <button type="button" id="DenyEulaBtn" class="btn btn-default" ng-click="RefusedEula()">Don't Accept</button>
                <button type="button" id="AcceptEulaBtn" class="btn btn-primary" ng-click="AcceptInvite()">Accept</button>
            </div>
        </div>
    </div>
</div>

<div id="InviteExistingAcctModal" class="modal" ng-show="ShowExistingAcct">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-login" role="form" style="padding: 1em;">

                <span>{{'IHAVEANACOUNT' | translate}}:</span>
                <div class="successNotification" ng-show="AuthService.authentication.passwordChanged">{{'PASSWORDSUCCESSFULLYCHANGED' | translate}}</div>
                <div class="errorNotification" ng-show="ExistingInviteLoginError">Login Failed!</div>
                <div class="errorNotification" ng-show="ExistingInviteError">Failed to create Account. Please Try Again.</div>
                <br />
                <div>
                    <input type="email" id="userName" class="form-control" placeholder="Name@example.com" data-ng-model="LoginData.email" required autofocus>
                </div>

                <div>
                    <input type="password" id="password" class="form-control" ng-focus="LoginData.password=''" placeholder="Password" data-ng-model="LoginData.password" required>
                </div>

                <button id="submit" type="submit" data-ng-click="AttachToExistingAcct()">{{'ATTACH' | translate}}</button>
                <button id="cancel" type="submit" data-ng-click="ToggleExistingAcct()">{{'CANCEL' | translate}}</button>
                <div data-ng-hide="message == ''" class="alert alert-danger" id="warning">
                    {{message}}
                </div>
            </form>

        </div>
    </div>
</div>
<div id="InviteForm" ng-hide="InvalidInvite || EulaRefused">
    <h2>{{ 'ACCEPTINVITATION' | translate }}</h2>
    <div class="errorNotification" ng-show="InviteError">Failed to create Account. Please Try Again.</div>
    <br />
    <form class="form-login" role="form" name="AcceptInvitationForm" novalidate>
        <div>
            {{ 'ACCEPTINVITEFORM' | translate }}:
            <ul style="margin-left:2em ">
                <li>{{AcceptInviteData.propertyName}}</li>
            </ul>
            {{'ACCEPTINVITE_PLEASECOMPLETE' | translate}}
        </div>
        <p> {{'ACCEPTINVITE_YOUREMAILADDR' | translate}} ,<span style="color: #AAA8A8; " id="InviteEmailAddr"> {{AcceptInviteData.email}} </span>, will be your username.</p>
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <br />

        <input id="InvitePassword" type="password" name="password" class="form-control" data-ng-model="AcceptInviteData.password" required>
        <img src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-hide="validatePassword() && AcceptInviteData.password" />
        <img src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="validatePassword() && AcceptInviteData.password" />
        <br />

        <label for="confirmNewPassword">{{ 'CONFIRMNEWPASSWORD' | translate }}</label>
        <br />

        <input id="InviteConfirmPassword" type="password" name="confirmPassword" class="form-control" data-ng-model="AcceptInviteData.confirmPassword" required>
        <img src="Content/img/warning-24.png" alt="Invalid Password" class="warningIcon" ng-hide="verifyConfirmationPassword() && AcceptInviteData.confirmPassword" />
        <img src="Content/img/check-24.png" alt="Valid Password" class="validIcon" ng-show="verifyConfirmationPassword() && AcceptInviteData.confirmPassword" />
        <br />

        <button id="InviteCreateAcctBtn" type="submit" ng-disabled="!validateForm()" data-ng-click="ToggleEula()">Create Account</button>
        <button id="InviteExistingAcctBtn" type="submit" data-ng-click="ToggleExistingAcct()">Existing Account?</button>
    </form>
</div>
