﻿<div id="AddProgram" class="grid-wrap">
    <form role="form" name="$parent.AddProgramForm" novalidate>

        <div class="grid-col col-one-quarter">

            <div style="margin-bottom: 1em">
                <h2>{{'CIRCUIT' | translate}}</h2>
                <div style="width:auto;" id="Circuit" dropdown-menu="ProgrammableCircuits" dropdown-onchange="CircuitSelected(selection)" dropdown-model="Schedule.Circuit" label-field="SNAME" value-field="OBJNAM" ng-click="PopulateProgrammableCircuits()" default-value="Enumerations.DefaultScheduledCircuit"></div>
            </div>


            <div ng-if="Model.Objects[Schedule.Circuit].OBJTYP =='BODY'">
                <div style="margin-bottom: 1em">
                    <h2>{{'HEATMODE' | translate}}</h2>
                    <label>
                        <input id="UseCurrentHeatMode" style="width: 15px; height:15px" type="checkbox" ng-change="ToggleUseCurrent('HeatMode',UseCurrentHeatMode)" ng-model="Schedule.UseCurrentHeatMode">{{'USECURRENTSETTINGS' | translate}}
                    </label>
                    <div style="width:auto;" id="HeatMode" heater-dropdown="Property.GetHeatModes(Schedule.Body)" disabled="Schedule.UseCurrentHeatMode" dropdown-onchange="HeatModeSelected(Schedule.Body,heatMode)" body-object="Schedule.Body"></div>
                </div>


                <div>
                    <h2>{{'TEMPERATURE' | translate}}</h2>
                    <div>
                        <label>
                            <input id="UseCurrenTemp" style="width: 15px; height:15px" type="checkbox" ng-change="ToggleUseCurrent('Temp',UseCurrentTemp)" ng-model="Schedule.UseCurrentTemp">{{'USECURRENTSETTINGS' | translate}}
                        </label>
                    </div>

                    <div class="setpoint">
                        <heater-input-box id="SetTempInput" disabled="Schedule.UseCurrentTemp" class="heatMode" heater-model="Schedule.Body.LOTMP" body-object="Schedule.Body" min-value="5" max-value="40" max-length="3" on-text-input="SetTemp(obj,prop,value)"></heater-input-box>
                    </div>

                    <div id="SetTempBtns" class="setpoint-controls" style="float: none">
                        <button id="SetTempDwnBtn" ng-disabled="Schedule.UseCurrentTemp" ng-click="DecreaseTemp(Schedule.Body,'LOTMP', 5)" class="pentairBtn">&ndash;</button>
                        <button id="SetTempUpBtn" ng-disabled="Schedule.UseCurrentTemp" ng-click="IncreaseTemp(Schedule.Body,'LOTMP', 40)" class="pentairBtn">+</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="grid-col col-one-quarter">
            <h2>{{'PROGRAMTYPE' | translate}}</h2>

            <div>
                <label> <input id="RecurringRadioBtn" type="radio" name="ProgramType" value="" ng-model="Schedule.Type" ng-change="TypeChanged()">{{'RECURRING' | translate}}</label>
            </div>
            <div>
                <label> <input id="OnceRadioBtn" type="radio" name="ProgramType" value="1" ng-model="Schedule.Type" ng-change="TypeChanged()">{{'ONCE' | translate}} </label>
            </div>

        </div>

        <div class="grid-col col-one-quarter">
            <h2>{{'DAY' | translate}}</h2>

            <div ng-repeat="day in Enumerations.DaysOfWeek">
                <label ng-if="Schedule.Type==0">
                    <input id="{{day.text+'_CheckBox'}}" type="checkbox" checklist-model="Schedule.Days" name="DayOfTheWeek" checklist-value="day.id" style="width: 15px; height:15px">{{day.text}}
                </label>
                <label ng-if="Schedule.Type==1">
                    <input id="{{day.text+'_Radio'}}" type="radio" ng-model="Schedule.Days" name="DayOfTheWeek" value="{{day.id}}" style="width: 15px; height:15px">{{day.text}}
                </label>
            </div>

        </div>

        <div class="grid-col col-one-quarter">

            <div>
                <h2>{{'STARTTIME' | translate}}</h2>
                <input class="timepicker" type="text" time-format="InitialTimeFormat()" class="form-control" id="StartTime" dn-timepicker="h:mm a" step="30" name="StartTime" ng-model="Schedule.StartTime" on-update="SyncStopTime(value)" />
            </div>


            <div>
                <h2>{{'STOPTIME' | translate}}</h2>
                <input class="timepicker" type="text" time-format="InitialTimeFormat()" class="form-control" id="StopTime" dn-timepicker="h:mm a" name="StopTime" ng-model="Schedule.StopTime" on-update="StopTimeChanged()" />
            </div>
        </div>
    </form>
</div>
