﻿<div id="ChangePassword">
    <h2>{{'CHANGEPASSWORD' | translate}}</h2>
    <div id="ErrorMsg" class="errorNotification" ng-show="changePasswordData.error">System fail message.</div>
    <form class="form-login" role="form" name="ChangePasswordForm" novalidate>
        <div ng-show="changePasswordFlag">
            <label for="oldPassword">{{'OLDPASSWORD' | translate}}</label>
            <br />

            <input id="OldPassword" type="password" name="oldPassword" class="form-control" data-ng-model="changePasswordData.oldPassword" ng-focus="clearOldPassword()" ng-blur="verifyPassword()" required>
            <img id="OldPwdValidIcon" src="Content/img/warning-24.png" alt="Invalid Password" class="warningIcon" ng-hide="validateOldPassword" />
            <img id="OldPwdValidIcon" src="Content/img/check-24.png" alt="Valid Password" class="validIcon" ng-show="validateOldPassword && changePasswordData.oldPassword" />
            <br /><br />
        </div>
        <label for="newPassword">{{'NEWPASSWORD' | translate}}</label>
        <br />

        <input id="NewPassword" type="password" name="newPassword" class="form-control" data-ng-model="changePasswordData.newPassword" required>
        <img id="NewPwdErrorIcon" src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-hide="validateNewPassword() && changePasswordData.newPassword" />
        <img id="NewPwdValidIcon" src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="validateNewPassword() && changePasswordData.newPassword" />
        <br />

        <label for="confirmPassword">{{'CONFIRMNEWPASSWORD' | translate}}</label>
        <br />

        <input id="ConfirmPassword" type="password" name="confirmPassword" class="form-control" data-ng-model="changePasswordData.confirmPassword" required>
        <img id="ConfrimPwdErrorIcon" src="Content/img/warning-24.png" alt="Invalid Password" class="warningIcon" ng-hide="verifyConfirmationPassword() && changePasswordData.confirmPassword" />
        <img id="ConfrimValidIcon" src="Content/img/check-24.png" alt="Valid Password" class="validIcon" ng-show="verifyConfirmationPassword() && changePasswordData.confirmPassword" />
        <br />

        <button id="SubmitBtn" class="loginSubmitBtn" id="submit" type="submit" ng-disabled="!validateForm()" data-ng-click="ChangePassword()">Submit</button>
    </form>
</div>