﻿<div id="ChangeEmail">
    <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
    <h1>{{'CHANGEEMAIL' | translate}}</h1>
    <form style="width: 20.1em;" class="form-login" role="form" name="ChangeEmailForm" novalidate>
        <div id="ErrorMsg" class="errorNotification" ng-show="changeEmailData.error">System fail message.</div>
        <div id="SuccessMsg" class="successNotification" ng-show="changeEmailData.success" style="width:100%"> {{'EMAILCHANGED' | translate}} </div>
        <label for="oldEmail">{{'OLDEMAIL' | translate}}</label>
        <br />

        <input id="OldEmail" type="email" name="oldEmail" class="form-control" data-ng-model="changeEmailData.oldEmail" ng-focus="clearOldEmail()" ng-blur="verifyEmail()" required>
        <img id="OldValidIcon" src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-hide="validateOldEmail" />
        <img id="OldValidIcon" src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="validateOldEmail && changeEmailData.oldEmail" />
        <br /><br />

        <label for="newEmail">{{'NEWEMAIL' | translate}}</label>
        <br />

        <input id="NewEmail" type="email" name="newEmail" class="form-control" data-ng-model="changeEmailData.newEmail" required>
        <img id="NewErrorIcon" src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-show="ChangeEmailForm.newEmail.$error.email || !changeEmailData.newEmail" />
        <img id="NewValidIcon" src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="!ChangeEmailForm.newEmail.$error.email && changeEmailData.newEmail" />
        <br />

        <label for="confirmEmail">{{'CONFIRMNEWEMAIL' | translate}}</label>
        <br />

        <input id="ConfirmEmail" type="Email" name="confirmEmail" class="form-control" data-ng-model="changeEmailData.confirmEmail" required>
        <img id="ConfrimErrorIcon" src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-hide="verifyConfirmationEmail() && changeEmailData.confirmEmail" />
        <img id="ConfrimValidIcon" src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="verifyConfirmationEmail() && changeEmailData.confirmEmail" />
        <br />
        <div style="margin-top: 1em">
            <button id="SubmitBtn" style="float:left;" class="loginSubmitBtn" id="submit" type="submit" ng-disabled="!validateEmailForm()" data-ng-click="ChangeEmail()">Submit</button>
            
            <span style="float:right; cursor: pointer" ng-click="GoToDashboard()"> {{'CANCEL' | translate}}</span>
        </div>
    </form>
</div>