﻿<div class="propertySelection">
    <div ng-show="Model.Installations.length>1">
        <div class="vcenter"><label>{{'CHOOSEPOOL' | translate}}</label></div>

        <div id="SelectPropertyDropDown" dropdown-menu="Model.Installations" limit-to="7" ng-show="Model.Installations.length>1" default-value="Model.DefaultInstallation" dropdown-model="Model.SelectedInstallation" ng-click="Property.FetchInstallations()" value-field="InstallationId" label-field="PoolName"></div>

        <div>
            <button id="ConnectBtn" ng-show="Model.Installations.length>1" class="pentairBtn" type="submit" data-ng-click="Property.Connect()" ng-disabled="Model.Busy">{{'CONNECT' | translate}}</button>
        </div>
    </div>

    <div id="NoInstallationsMsg" ng-hide="Model.Installations.length>1">
        <h2>{{NOCONNECTIONS |translate }}</h2>
    </div>
</div>