﻿<div id="InstallationsTable">
    <div style="float: right;">
        <input type="text" placeholder="search term e.g.'duck'" ng-enter="SearchInstallations()" ng-model="SearchTerm" />
        <a href="" ng-click="SearchInstallations()">Search &nbsp; &nbsp;</a>
        <a href="" ng-click="ClearSearchTerm()">Clear</a>
    </div>
    <div class="clearfix"></div>
    <div ui-grid="gridOptions" ui-grid-paging ui-grid-cellnav external-scopes="GridViewModel" class="grid"></div>
</div>