﻿<div id="LightShow">
    <div class="grid-wrap">
        <div class="grid-col col-full">
            <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
            <h1>Light Shows & Settings</h1>
        </div>
    </div>

    <div class="grid-wrap">
            <div class="panel">
                <div class="grid-wrap">
                    <div id="IntelliLights"class="intellibrite grid-col col-three-quarters">
                        <h3>IntelliBrite</h3>
                        <div class="grid-wrap">
                            <div class="grid-col col-one-third">
                                <h4>Colors</h4>
                                <menu>
                                    <light-mode-button id="IntelliBlue" btn-class="color blue" ng-click="Property.SetLightMode(['INTELLI'],'BLUE')" light-mode="Blue"></light-mode-button>
                                    <light-mode-button id="IntelliGreen" btn-class="color green" ng-click="Property.SetLightMode(['INTELLI'],'GREEN')" light-mode="Green"></light-mode-button>
                                    <light-mode-button id="IntelliRed" btn-class="color red" ng-click="Property.SetLightMode(['INTELLI'],'RED')" light-mode="Red"></light-mode-button>
                                    <light-mode-button id="IntelliWhite" btn-class="color white" ng-click="Property.SetLightMode(['INTELLI'],'WHITE')" light-mode="White"></light-mode-button>
                                    <light-mode-button id="IntelliMagenta" btn-class="color magenta" ng-click="Property.SetLightMode(['INTELLI'],'MAGNTA')" light-mode="Magenta"></light-mode-button>
                                </menu>
                            </div>
                            <div class="grid-col col-one-third">
                                <h4>Shows</h4>
                                <menu>
                                    <light-mode-button id="IntelliParty" btn-class="color party" ng-click="Property.SetLightMode(['INTELLI'],'PARTY')" light-mode="Party"></light-mode-button>
                                    <light-mode-button id="IntelliRomance" btn-class="color romance" ng-click="Property.SetLightMode(['INTELLI'],'ROMAN')" light-mode="Romance"></light-mode-button>
                                    <light-mode-button id="IntelliCaribbean" btn-class="color caribbean" ng-click="Property.SetLightMode(['INTELLI'],'CARIB')" light-mode="Caribbean"></light-mode-button>
                                    <light-mode-button id="IntelliSunset" btn-class="color sunset" ng-click="Property.SetLightMode(['INTELLI'],'SSET')" light-mode="Sunset"></light-mode-button>
                                    <light-mode-button id="IntelliAmerican" btn-class="color american" ng-click="Property.SetLightMode(['INTELLI'],'AMERCA')" light-mode="American"></light-mode-button>
                                    <light-mode-button id="IntelliRoyal" btn-class="color royal" ng-click="Property.SetLightMode(['INTELLI'],'ROYAL')" light-mode="Royal"></light-mode-button>
                                </menu>
                            </div>

                            <div class="grid-col col-one-third">
                                <menu>
                                    <light-mode-button id="IntelliCapture" ng-click="Property.SetLightMode(['INTELLI'],'HOLD')" light-mode="Capture"></light-mode-button>
                                    <light-mode-button id="IntelliRecall" ng-click="Property.SetLightMode(['INTELLI'],'RECALL')" light-mode="Recall"></light-mode-button>
                                </menu>
                                <div id="IntelliHelpBtn" class="helpbtn" ng-click="ToggleIntelliHelp()" ng-hide="IntelliHelp"></div>
                                <div id="IntelliHelpPanel" ng-show="IntelliHelp" class="helpPanel">
                                    <button style="width: 22px; float:right;" ng-click="ToggleIntelliHelp()">x</button>
                                    <span>Select Capture and Recall to capture and save a unique color effect and recall it at a later time.</span>
                                </div>
                                <h4>IntelliBrite Lights</h4>
                                <ul>
                                    <li id="IntelliLight_{{circuit.SNAME}}" ng-repeat="circuit in filtered = (Model.Circuits | circuitsBySectionAndSubType:'l':['INTELLI'])">{{circuit.SNAME}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="MagicLights" class="grid-col col-one-quarter">
                        <menu>
                            <light-mode-button id="MagicThumper" ng-click="Property.SetLightMode(['MAGIC1','MAGIC2'],'THUMP')" light-mode="Thumper"></light-mode-button>
                            <light-mode-button id="MagicMode"ng-click="Property.SetLightMode(['MAGIC1','MAGIC2'],'MODE')" light-mode="Mode"></light-mode-button>
                            <light-mode-button id="MagicReset"ng-click="Property.SetLightMode(['MAGIC1','MAGIC2'],'RESET')" light-mode="Reset"></light-mode-button>
                            <light-mode-button id="MagicCapture"ng-click="Property.SetLightMode(['MAGIC1','MAGIC2'],'HOLD')" light-mode="Capture"></light-mode-button>
                            <light-mode-button id="MagicRecall"ng-click="Property.SetLightMode(['MAGIC1','MAGIC2'],'RECALL')" light-mode="Recall"></light-mode-button>
                        </menu>
                        <h3>MagicStream</h3><div id="MagicHelpBtn" class="helpbtn" ng-click="ToggleMagicHelp()" ng-hide="MagicHelp"></div>
                        <div id="MagicHelpPanel" ng-show="MagicHelp" class="helpPanel">
                            <button style="width: 22px; float:right;" ng-click="ToggleMagicHelp()">x</button>
                            <div>
                                <strong>Thumper </strong>
                                Creates a "wrinkle" in the laminar stream, producing a brillant spot of light in the laminar arc.
                            </div>
                            <br />
                            <div>
                                <strong>Mode </strong>
                                Pressing this button (each successive OFF/ON combination) will cycle through Sync, Random and Party color changing mode
                            </div>
                            <br />
                            <div>
                                <strong>Reset </strong>
                                Pressing this button reverts to the Random color changing mode with the Thumper ON
                            </div>
                            <br />
                            <div>
                                <strong>Capture </strong>
                                the current color effect while colors are changing. The colors will stop changing. Selecting Capture again will resume the color changing mode.
                            </div>
                        </div>
                        <h4>MagicStream Lights</h4>
                        <ul>
                            <li ng-repeat="circuit in filtered = (Model.Circuits | circuitsBySectionAndSubType:'l':['MAGIC1','MAGIC2'])">{{circuit.SNAME}}</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <div class="grid-wrap">
        <div id="Lights" class="grid-col col-one-third settings">
            <div>
                <h3 style="float:left">Lights</h3>
                <div class="all-button-container">
                    <div>
                        <button id="AllLightsOnBtn" class="item-status all-button" ng-click="Property.SetAllLights('ON')"> All On</button>
                    </div>
                    <div>
                        <button id="AllLightsOffBtn" class="item-status all-button" ng-click="Property.SetAllLights('OFF')"> All Off</button>
                    </div>
                </div>
            </div>
            <menu>
                <div class="grid-wrap" ng-repeat="circuit in filtered = (Model.Circuits | circuitsBySection:'l')">
                    <label class="grid-col col-one-half" for="{{circuit.OBJNAM}}">{{circuit.SNAME}}</label>
                    <div>
                        <toggle-circuit id="{{circuit.OBJNAM+'_PwrBtn'}}" toggle-onclick="Property.ToggleCircuit(obj,value)" id="{{circuit.OBJNAM}}" target-circuit="circuit" />
                    </div>
                    <br />
                </div>
            </menu>
        </div>
        <div id="LightGroups" class="grid-col col-one-third settings">
            <h3>Light Groups</h3>
            <menu>
                <div id="{{circuit.SNAME+'_LightGroup'}}" class="grid-wrap" ng-repeat="circuit in filtered = (Model.CircuitGroups | circuitsBySection:'l')">
                    <label class="grid-col col-one-half" for="{{circuit.OBJNAM}}">{{circuit.SNAME}}</label>
                    <div>
                        <button id="{{circuit.SNAME+'_OffBtn'}}" class="item-status light-button" ng-click="Property.SetValue(circuit.OBJNAM,'STATUS','OFF')">Off</button>
                        <button id="{{circuit.SNAME+'_OnBtn'}}" class="item-status light-button" ng-click="Property.SetValue(circuit.OBJNAM,'STATUS','ON')">On</button>
                    </div>
                </div>
            </menu>
        </div>
        <div class="panel grid-col col-one-third">
            <h3>Sync & Swim</h3>
            <menu>
                <div>
                    <button id="SetBtn" class="SyncSwim" ng-click="Property.SetLightMode(['MAGIC1','MAGIC2','INTELLI'],'SET')">Set</button>
                </div>
                <div>
                    <button id="SyncBtn" class="SyncSwim" ng-click="Property.SetLightMode(['MAGIC1','MAGIC2','INTELLI'],'SYNC')">Sync</button>
                </div>
                <div>
                    <button id="SwimBtn" class="SyncSwim" ng-click="Property.SetLightMode(['MAGIC1','MAGIC2','INTELLI'],'SWIM')">Swim</button>
                </div>
            </menu>
        </div>
    </div>
</div>