﻿<form class="form-login" role="form">

    <h2>{{'WELCOME' | translate}}</h2>
    <div id="PassWordChangedMsg" class="successNotification" ng-show="AuthService.authentication.passwordChanged">{{'PASSWORDSUCCESSFULLYCHANGED' | translate}}</div>
    <div id="AccountCreatedMsg" class="successNotification" ng-show="AuthService.authentication.accountCreated">Account Created!</div>
    <div id="LoginFailedMsg" class="errorNotification" ng-show="AuthService.authentication.loginError">Login Failed!</div>
    <br/>
  <div>
        <label for="userName">{{'USERNAME' | translate}}</label>
        <br />
        <input type="email" id="UserName" class="form-control" placeholder="Name@example.com" data-ng-model="loginData.userName" required autofocus>
    </div>

    <div>

        <label for="password">{{'PASSWORD' | translate}}</label>
        <br />
        <input type="password" id="Password" class="form-control" ng-focus="loginData.password=''" placeholder="Password" data-ng-model="loginData.password" required>
    </div>
    <div>
        <input type="checkbox" id="RememberMe" data-ng-model="loginData.rememberMe" />
        <label for="rememberMe">{{'REMEMBERME' | translate}}</label>
    </div>
    <button class="loginSubmitBtn" id ="SubmitBtn" type="submit" data-ng-click="login()">{{'SUBMIT' | translate}}</button>
    <br/>
    <a id="ForgotPasswordBtn" class="button-link" ng-click="forgotPassword()" >{{'FORGOTPASSWORDLINK' | translate}}</a>
</form>
