﻿<div id="ManageUsers">
  <div class="grid-wrap">
    <div class="grid-col col-full">
      <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
      <h1>{{'MANAGEUSERS' | translate}}</h1>
      <div id="DeleteErrorMsg" class="errorNotification" ng-show="Model.DeleteUserError">{{Model.DeleteUserError}}</div>
      <a id="AddUserBtn" href="" ng-click="GoToAddUsersPage()">{{'ADDUSERLINK' | translate}}</a>
      <div id="IgnoreEditModal" class="modal" ng-show="IgnoreEdit">
        <div class="modal-dialog-med">
          <div class="modal-content-med">
            <div class="modal-header-sm">
              <button id="IgnoreEditXBtn" style="width: 22px; float:right;" ng-click="IgnoreEdit=false">x</button>
            </div>
            <div class="modal-body">
              <h3>{{'CONFIRM-SAVE-CHANGES-MSG' | translate}}</h3>
            </div>
            <div class="modal-footer">
              <button id="StayOnPageBtn" style="float:left" ng-click="IgnoreEdit=false">{{'STAYONPAGE' | translate}}</button>
              <button id="LeavePageBtn" style="float:right" ng-click="ContinueNavigate()">{{'LEAVEPAGE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div id="EditOptions" style="float: right;">
        <div class="delayPanel" id="FilterEditor" ng-show="!HideModals && EditFilters">
          <h2>{{'FILTERSTATUS' | translate}}</h2>
          <hr />
          <div ng-show="filter === 'all'"><img id="allFilter" src="Content/img/blankDot.png" />&nbsp;<b><a href="">{{'ALL' | translate}}</a></b></div>
          <div ng-hide="filter === 'all'"><img id="allFilter" src="Content/img/blankDot.png" />&nbsp;<a href="" ng-click="SelectFilter('all')">{{'ALL' | translate}}</a></div>
          <div ng-show="filter === 'accepted'"><img id="acceptedFilter" src="Content/img/blueDot.png" />&nbsp;<b><a href="">{{'ACCEPTED' | translate}}</a></b></div>
          <div ng-hide="filter === 'accepted'"><img id="acceptedFilter" src="Content/img/blueDot.png" />&nbsp;<a href="" ng-click="SelectFilter('accepted')">{{'ACCEPTED' | translate}}</a></div>
          <div ng-show="filter === 'bounced'"><img id="bouncedFilter" src="Content/img/redDot.png" />&nbsp;<b><a href="">{{'BOUNCED' | translate}}</a></b></div>
          <div ng-hide="filter === 'bounced'"><img id="bouncedFilter" src="Content/img/redDot.png" />&nbsp;<a href="" ng-click="SelectFilter('bounced')">{{'BOUNCED' | translate}}</a></div>
          <div ng-show="filter === 'expired'"><img id="expiredFilter" src="Content/img/yellowDot.png" />&nbsp;<b><a href="">{{'EXPIRED' | translate}}</a></b></div>
          <div ng-hide="filter === 'expired'"><img id="expiredFilter" src="Content/img/yellowDot.png" />&nbsp;<a href="" ng-click="SelectFilter('expired')">{{'EXPIRED' | translate}}</a></div>
          <div ng-show="filter === 'noresponse'"><img id="noResponseFilter" src="Content/img/grayDot.png" />&nbsp;<b><a href="">{{'NORESPONSE' | translate}}</a></b></div>
          <div ng-hide="filter === 'noresponse'"><img id="noResponseFilter" src="Content/img/grayDot.png" />&nbsp;<a href="" ng-click="SelectFilter('noresponse')">{{'NORESPONSE' | translate}}</a></div>
          <hr />
        </div>
        <a href="" ng-click="ShowFilters()">{{'FILTER' | translate}}&nbsp;&nbsp;</a>
        <input type="text" placeholder="search term e.g.'duck'" ng-enter="Search()" ng-model="SearchTerm" />
        <a href="" ng-click="Search()">{{'SEARCH' | translate}}&nbsp;&nbsp;</a>
        <a href="" ng-click="ClearSearchTerm()">{{'CLEAR' | translate}}</a>
      </div>
      <div class="clearfix"></div>
      <div ui-grid="gridOptions" ui-grid-paging ui-grid-cellnav external-scopes="GridViewModel" class="grid"></div>
    </div>
  </div>
</div>