﻿<h2>{{'PASSWORDASSISTANCE' | translate}}</h2>
<div id="ChangePwdErrorMsg" class="errorNotification" ng-show="changePasswordData.error">{{'USERNOTFOUND' | translate}}</div>
<form class="form-login" role="form" name="PasswordAssistanceFrom">

    <br />
    <div ng-hide="submitUserName">
        <h3>{{'FORGOTPASSWORDLABEL' | translate}}</h3>
        <label for="userName">{{'EMAILADDRESS' | translate}}</label>
        <br />
        <input id="EmailAddr" type="email" name="email" class="form-control" data-ng-model="forgotPasswordData.email" required>
        <img id="EmailErrorIcon" src="Content/img/warning-24.png" alt="Invalid Email" class="warningIcon" ng-show="PasswordAssistance.email.$invalid || PasswordAssistance.email.$pristine" />
        <img id="EmailValidIcon" src="Content/img/check-24.png" alt="Valid Email" class="validIcon" ng-show="!PasswordAssistance.email.$invalid && !PasswordAssistance.email.$pristine" />
        <br /><br />
        <button class="loginSubmitBtn" id="SubmitBtn" type="submit" ng-disabled="PasswordAssistance.email.$invalid || PasswordAssistance.email.$pristine" data-ng-click="passwordAssistance()">{{'SUBMIT' | translate}}</button>
    </div>
    <div ng-show="submitUserName">
        <h3>{{'CHECKEMAIL' | translate}}</h3>
        <br />
        <label for="userName">{{'EMAILSENTMESSAGE' | translate}}</label>
        <br />
    </div>
</form>
