﻿<div id="ManageSchedules">
    <div class="grid-wrap">
        <div class="grid-col col-full">
            <button id="MainPageLink" class="nav back" ng-click="GoToDashboard()">‹</button>
            <h1>{{'SCHEDULE' | translate}}</h1>
        </div>
    </div>
    <div id="ScheduleTable">
        <a id="AddScheduleBtn" href="" ng-click="CreateNewSchedule()">{{'ADDSCHEDULELINK' | translate}}</a>
        <br />
        <table>
            <thead>
                <tr>
                    <th>{{'CIRCUIT' | translate}}</th>
                    <th>{{'TIME' | translate}}</th>
                    <th>{{'DAYS' | translate}}</th>
                    <th>{{'PROGRAMTYPE' | translate}}</th>
                    <th>{{'SETTINGS' | translate}}</th>
                    <th>{{'ACTIONS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{'Schedule'+$index}}" ng-repeat="item in Model.Schedules">
                    <td>{{item.ViewModel.Circuit}}</td>
                    <td>{{item.TIME | translateTime}} - {{item.TIMOUT | translateTime}}</td>
                    <td>{{item.ViewModel.Day}}</td>
                    <td>{{item.ViewModel.Type}}</td>
                    <td><span ng-if="item.HEATER && item.LOTMP">{{item.ViewModel.Settings}}</span></td>
                    <td>
                        <a id="{{'Schedule'+$index+'_EditBtn'}}" class="button-link" ng-click="EditSchedule(item)">{{'EDIT' | translate}}</a> |
                        <a id="{{'Schedule'+$index+'_DeleteBtn'}}" class="button-link" ng-hide="item.email===Authentication.authentication.userName" ng-click="DeleteSchedule(item)">{{'DELETE' | translate}}</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div id="DeleteModal" class="modal" ng-show="Modal == 'DELETE'">
    <div class="modal-dialog-sm">
        <div class="modal-content-sm">
            <div class="modal-header-sm">
                <button id="CancelXBtn" style="width: 22px; float:right;" ng-click="Modal=''">x</button>
            </div>
            <div class="modal-body">
                <h2>{{'DELETECONFIRM' | translate}}</h2>
            </div>
            <div class="modal-footer">
                <button id="CancelDeleteBtn" style="float:left" ng-click="Modal=''">{{'CANCEL' | translate}}</button>
                <button id="ConfirmDeleteBtn" style="float:right" ng-click="ConfirmDeleteSchedule()">{{'DELETE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div id="EditScheduleModal" class="modal" ng-show="Modal=='EDIT' || Modal=='ADD'">
    <div class="modal-dialog" style="width:55em">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-show="Modal=='ADD'"> {{'ADD-PROGRAM' | translate}}</h4>
                <h4 class="modal-title" ng-show="Modal=='EDIT'"> {{'EDIT-PROGRAM' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'app/templates/addProgram.html'"></div>
            </div>
            <div class="modal-footer">
                <button id="CancelEditBtn" type="button" class="btn btn-default" ng-click="Modal=''">{{'CANCEL' | translate}}</button>
                <button id="SaveScheduleBtn" type="button" class="btn btn-primary" ng-disabled="!ValidateNewSchedule()" ng-click="SaveSchedule(Modal)">{{'SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

