﻿<div id="General-Configure" class="grid-wrap">
  <div class="grid-col col-full">
    <button id="ConfigPageLink" class="nav back" ng-click="GoToConfigPage()">‹</button>
    <h1>{{'PERSONALITY-INFORMATION' | translate}}</h1>
  </div>
  <div class="grid-col col-full configPage">
    <div id="pool-system-info" class="configPanel">
      <div id="personalityTitle" style="float: left; margin-left: 1em">
        <h2>{{'PERSONALITY' | translate}}</h2>
      </div>
      <div id="RefreshButton" style="float: right; margin-right: 1em">
        <a id="refresh" class="button-link" ng-click="RefreshSystemPersonality()">{{'REFRESH' | translate}}</a>
      </div>
      <div style="clear: both"></div>
      <table class="configTable">
        <tr>
          <th class="configTable">{{'INSTALLED' | translate}}</th>
          <th class="configTable">{{'TYPE' | translate}}</th>
          <th class="configTable">{{'CAPABILITY' | translate}}</th>
        </tr>
        <tr id="{{'Panel-' + $index}}" ng-repeat="panel in Model.Panels">
          <td>{{panel.SNAME}}</td>
          <td colspan="2">
            <table class="configTable">
              <tr id="{{'Module' + $index}}" ng-repeat="module in filtered = (Model.Modules | filter:moduleByParent:module.PARENT)">
                <td class="configDetail">{{module.SNAME}}</td>
                <td>
                  <table class="configDetail">
                    <tr id="{{'Capabilities-' + $index}}" ng-repeat="item in ModuleCapabilities(module.SUBTYP)">
                      <td>{{item | translate}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
