﻿<div id="Configure" class="grid-wrap">
  <div class="grid-col col-full">
    <button id="ConfigPageLink" class="nav back" ng-click="GoToConfigPage()">‹</button>
    <h1>{{'SYSTEM-PROTECTION' | translate}}</h1>
    <div class="successNotification" style="width:100%" ng-show="false">Protection Turned {{ProtectionStatus}} </div>
  </div>
  <div class="grid-col col-full" style="margin-bottom: 1em">
    <h3>{{'SYSTEM-PROTECTION-MSG' | translate}}</h3>
  </div>
  <div class="grid-col col-full">
    <div>
      <toggle-switch id="SysProtectSwitch" toggle-onclick="ToggleSecurity(value)" toggle-model="SecurityValue" />
    </div>
    <form name="SetSysPassWord" ng-if="ShowPassWrdBox.show">
      <label for="SysPassword">{{'ENTER-4-DIGIT-PASS' | translate}}</label>
      <div>
        <input id="SysPassword" ng-numbers-only type="text" maxlength="4" ng-minlength="4" id="SysPassword" name="SysPassword" class="form-control" ng-model="ShowPassWrdBox.password" required autofocus>
        <img id="SysPasswordErrorIcon" src="Content/img/warning-24.png" alt="Invalid Password" class="warningIcon" ng-hide="SetSysPassWord.$valid" />
        <img id="SysPasswordValidIcon" src="Content/img/check-24.png" alt="Valid Password" class="validIcon" ng-show="SetSysPassWord.$valid" />
      </div>
      <button ng-disabled="!SetSysPassWord.$valid" class="loginSubmitBtn" id="SubmitBtn" type="submit" data-ng-click="SetSecurity()">{{'SAVE-CHANGES' | translate}}</button>
    </form>
  </div>

</div>
