﻿<div class="grid-wrap">
  <div class="grid-col col-full">
    <button id="ConfigPageLink" class="nav back" ng-click="GoToConfigPage()">‹</button>
    <h1>{{'GENERAL-SYSTEM-INFORMATION' | translate}}</h1>
  </div>
  <div class="grid-col col-full configPage">
    <div class="configPanel">
      <div style="float: left; margin-left: 1em">
        <h2>{{'LOCATION' | translate}}</h2>
      </div>
      <div style="float: right; margin-right: 1em">
        <a id="editLocation" class="button-link" ng-disabled="EditEnable()" ng-hide="EditLocation" ng-click="EditLocationMode()">{{'EDIT' | translate}}</a>
      </div>
      <div style="clear: both"></div>
      <form name="systemInfoForm" class="formEdit" role="form">
        <table class="configTable">
          <tr><td>{{'PROPERTY-ID' | translate}}</td><td>{{Model.SelectedInstallation}}</td></tr>
          <tr><td>{{'POOL-SYSTEM-NAME' | translate}}</td><td>{{PropertyName}}</td></tr>
          <tr>
            <td>{{'LATITUDE' | translate}}</td>
            <td>
              <div id="LocationX" ng-hide="EditLocation">{{Model.Objects["_C10C"].LOCX || '--'}}</div>
              <div id="LocationX_Edit" ng-show="EditLocation">
                <input class="form-control informationEdit" name="longitude" data-ng-model="locationData.LOCX" ng-focus="clearLongitude()" />
                <img id="locationXnvalidIcon" src="Content/img/warning-24.png" alt="Invalid Longitue" class="warningIcon" ng-hide="validateLongitude()" />
                <img id="locationXValidIcon" src="Content/img/check-24.png" alt="Valid Longitue" class="validIcon" ng-show="validateLongitude()" />
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'LONGITUDE' | translate}}</td>
            <td>
              <div id="LocationY" ng-hide="EditLocation">{{Model.Objects["_C10C"].LOCY || '--'}}</div>
              <div id="LocationY_Edit" ng-show="EditLocation">
                <input class="form-control informationEdit" name="latitude" data-ng-model="locationData.LOCY" ng-focus="clearLatitude()" />
                <img id="locationYInvalidIcon" src="Content/img/warning-24.png" alt="Invalid Latitude" class="warningIcon" ng-hide="validateLatitude()" />
                <img id="locationYValidIcon" src="Content/img/check-24.png" alt="Valid Latitude" class="validIcon" ng-show="validateLatitude()" />
              </div>
            </td>
          </tr>
          <tr><td colspan="2">{{'LOCATION-HELPER' | translate}}<a href="http://mygeoposition.com/" target="_blank">{{'HERE' | translate}}</a></td></tr>
          <tr>
            <td>{{'OWNER' | translate}}</td>
            <td>
              <div id="Owner" ng-hide="EditLocation">{{Owner.name || '--'}}</div>
              <div id="OwnerEdit" ng-show="EditLocation">
                <div style="width: 11em; height: 1.5em;" id="SelectOwner" dropdown-menu="AdminUsers" default-value='selectOwner' dropdown-model="locationData.owner" dropdown-onchange="ownerName(selection)" value-field="id" label-field="name"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'ADDRESS' | translate}}</td>
            <td>
              <div id="Address" ng-hide="EditLocation">{{Address || '--'}}</div>
              <div id="AddressEdit" ng-show="EditLocation">
                <input class="form-control informationEdit" name="city" data-ng-model="locationData.address" ng-focus="clearAddress()" />
                <img id="addressInvalidIcon" src="Content/img/warning-24.png" alt="Invalid Address" class="warningIcon" ng-hide="validateAddress()" />
                <img id="addressValidIcon" src="Content/img/check-24.png" alt="Valid Address" class="validIcon" ng-show="validateAddress()" />
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'CITY' | translate}}</td>
            <td>
              <div id="City" ng-hide="EditLocation">{{Model.Objects["_C10C"].ViewModel.City || '--'}}</div>
              <div id="CityEdit" ng-show="EditLocation">
                <input class="form-control informationEdit" name="city" data-ng-model="locationData.city" ng-focus="clearCity()" />
                <img id="cityInvalidIcon" src="Content/img/warning-24.png" alt="Invalid City" class="warningIcon" ng-hide="validateCity()" />
                <img id="cityValidIcon" src="Content/img/check-24.png" alt="Valid City" class="validIcon" ng-show="validateCity()" />
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'STATE' | translate}}</td>
            <td>
              <div id="State" ng-hide="EditLocation">{{Model.Objects["_C10C"].ViewModel.State || '--'}}</div>
              <div id="StateEdit" ng-show="EditLocation">
                <input class="form-control informationEdit" name="state" data-ng-model="locationData.state" ng-focus="clearState()" />
                <img id="stateInvalidIcon" src="Content/img/warning-24.png" alt="Invalid State" class="warningIcon" ng-hide="validateState()" />
                <img id="stateValidIcon" src="Content/img/check-24.png" alt="Valid State" class="validIcon" ng-show="validateState()" />
              </div>
            </td>
          </tr>
          <td>{{'ZIP' | translate}}</td>
          <td>
            <div id="Zip" ng-hide="EditLocation">{{Model.Objects["_C10C"].ZIP || '--'}}</div>
            <div id="ZipEdit" ng-show="EditLocation">
              <input class="form-control informationEdit" name="zip" data-ng-model="locationData.zip" ng-focus="clearZip()" />
              <img id="zipValidIconInvalidIcon" src="Content/img/warning-24.png" alt="Invalid Zipcode" class="warningIcon" ng-hide="validateZip()" />
              <img id="zipValidIcon" src="Content/img/check-24.png" alt="Valid Zipcode" class="validIcon" ng-show="validateZip()" />
            </div>
          </td>

        </table><br />
        <div style="float: left; margin-left: 1em">
          <a id="cancelLocation" class="button-link" ng-show="EditLocation" ng-click="CancelLocationEdit()">{{'CANCEL' | translate}}</a>
        </div>
        <div style="float: right; margin-right: 1em">
          <button id="saveLocation" class="button-link" ng-show="EditLocation" ng-click="SaveLocationSettings()" ng-disabled="!ValidateLocationForm()">{{'SAVE' | translate}}</button>
        </div>
        <div style="clear: both"></div>
      </form>
    </div>
    <div class="configPanel">
      <div style="float: left; margin-left: 1em">
        <h2>{{'SYSTEM-DATETIME-INFORMATION' | translate}}</h2>
      </div>
      <div id="editTime" style="float: right; margin-right: 1em">
        <a id="editTime" class="button-link" ng-disabled="EditEnable()" ng-hide="EditTime" ng-click="EditTimeMode()">{{'EDIT' | translate}}</a>
      </div>
      <div style="clear: both"></div>
      <form name="timeSettingsForm" class="formEdit" role="form">
        <table class="configTable">
          <tr>
            <td>{{'CLOCK-SOURCE' | translate}}</td>
            <td>
              <div id="TimeSource" ng-hide="EditTime">{{Model.Objects["_C105"].SOURCE || 'DASH' | translate}}</div>
              <div id="TimeSourceEdit" ng-show="EditTime">
                <div style="width: 11em; height: 1.5em;" id="SelectClockSource" dropdown-menu="GetDropdown('SOURCE')" dropdown-model="timeData.SOURCE" dropdown-onchange="clockSourceSelect(selection)" value-field="id" label-field="name"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'CLOCK-MODE' | translate}}</td>
            <td>
              <div id="TimeMode" ng-hide="EditTime">{{Model.Objects["_C10C"].CLK24A || 'DASH' | translate}}</div>
              <div id="TimeModeEdit" ng-show="EditTime">
                <div style="width: 11em; height: 1.5em;" id="Select ClockMode" dropdown-menu="GetDropdown('MODE')" default-value="12" dropdown-model="timeData.CLK24A" dropdown-onchange="clockModeSelect(selection)" value-field="id" label-field="name"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="checkbox" name="dls" data-ng_model="timeData.DLSTIM" ng-disabled="!EditTime" style="width: 20px; margin-right: 2px;" />{{'DAYLIGHT-SAVINGS' | translate}}
            </td>
          </tr>
          <tr>
            <td>{{'TIMEZONE' | translate}}
            <td>
              <div id="Timezone" ng-hide="EditTime">{{timeData.TimeZone}}</div>
              <div id="TimezoneEdit" style="width:180px" ng-show="EditTime" dropdown-menu="timeZones" dropdown-onchange="timezoneSelected(selection)" dropdown-model="timeData.TimeZoneValue" label-field="VALUE" value-field="ZONE" default-value="Enumerations.DefaultSelectedTimezone"></div>
            </td>
          </tr>
          <tr>
          <tr>
            <td>{{'CURRENT-DATE' | translate}}</td>
            <td>
              <div id="Date" ng-hide="EditTimeComponents">{{Model.Objects["_C10C"].DAY || '--'}}</div>
              <div id="DateEdit" ng-show="EditTimeComponents">
                <input class="form-control informationEdit" name="Date" data-ng-model="timeData.DAY" ng-focus="clearDate()" />
                <img id="locationYInvalidIcon" src="Content/img/warning-24.png" alt="Invalid Latitude" class="warningIcon" ng-hide="validateDate()" />
                <img id="locationYValidIcon" src="Content/img/check-24.png" alt="Valid Latitude" class="validIcon" ng-show="validateDate()" />
              </div>
            </td>
          </tr>
          <tr>
            <td>{{'CURRENT-TIME' | translate}}</td>
            <td>
              <div id="Time" ng-hide="EditTimeComponents">{{Model.Objects["_C10C"].MIN | translateTime}}</div>
              <div id="TimeEdit" ng-show="EditTimeComponents">
                <input class="form-control informationEdit" name="Time" data-ng-model="timeData.TIME" ng-focus="clearTime()" />
                <img id="locationYInvalidIcon" src="Content/img/warning-24.png" alt="Invalid Latitude" class="warningIcon" ng-hide="validateTime()" />
                <img id="locationYValidIcon" src="Content/img/check-24.png" alt="Valid Latitude" class="validIcon" ng-show="validateTime()" />
              </div>
            </td>
          </tr>
          <tr><td>{{'SUNRISE' | translate}}</td><td>{{Model.Objects["_C10C"].SRIS | translateTime}}</td></tr>
          <tr><td>{{'SUNSET' | translate}}</td><td>{{Model.Objects["_C10C"].SSET | translateTime}}</td></tr>
        </table><br />
        <div style="float: left; margin-left: 1em">
          <a id="cancelTime" class="button-link" ng-show="EditTime" ng-click="CancelTimeSettings()">{{'CANCEL' | translate}}</a>
        </div>
        <div style="float: right; margin-right: 1em">
          <button id="saveTime" class="button-link" ng-show="EditTime" ng-click="SaveTimeSettings()" ng-disabled="!validateTimeSettingsForm()">{{'SAVE' | translate}}</button>
        </div>
        <div style="clear: both"></div>
      </form>
    </div>
    <div class="configPanel">
      <div style="float: left; margin-left: 1em">
        <h2>{{'SYSTEM-PREFERENCES-INFORMATION' | translate}}</h2>
      </div>
      <div style="float: right; margin-right: 1em">
        <a id="EditPreferences" class="button-link" ng-hide="EditPreferences" ng-click="EditPreferencesMode()">{{'EDIT' | translate}}</a>
      </div>
      <div style="clear: both"></div>
      <form name="systemPreferencesForm" class="formEdit" role="form">
        <table class="configTable">
          <tr>
            <td>{{'UNITS' | translate}}</td>
            <td>
              <div id="Preferences" ng-hide="EditPreferences">{{Model.Objects["_5451"].MODE || 'DASH' | translate}}</div>
              <div id="PreferenceEdit" ng-show="EditPreferences">
                <div style="width: 11em; height: 1.5em;" id="SelectPreferences" dropdown-menu="GetDropdown('PREFERENCES')" default-value="ENGLISH" dropdown-model="PreferenceData.MODE" dropdown-onchange="preferenceSelect(selection)" value-field="id" label-field="name"></div>
              </div>
            </td>
          </tr>
        </table><br />
        <div style="float: left; margin-left: 1em">
          <a id="cancelPreferences" class="button-link" ng-show="EditPreferences" ng-click="CancelPreferencesEdit()">{{'CANCEL' | translate}}</a><b /><b />
        </div>
        <div style="float: right; margin-right: 1em">
          <button id="savePreferences" class="button-link" ng-show="EditPreferences" ng-click="SavePreferenceSettings()" ng-disabled="!validatePreferencesForm()">{{'SAVE' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
